@import 'fonts.css';

.main {
    background: #EBEBEB;
    padding-bottom: 40px;
}

.main__box {
    display: flex;
    justify-content: space-between;
    transform: translateY(-45);
}

.main__box-left {
    max-width: 540px;
    width: 100%;
    background: white;
    padding: 15px;
    border-radius: 6px;
}

.main__left-img {
    border-radius: 6px;
    width: 100%;
}

.main__left-title {
    color: #2C2A2A;
    font-family: 'RB';
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main__left-text {
    color: #9B9B9B;
    font-family: 'RR';
    font-size: 16px;
    line-height: 19px;
}

.main__box-right {
    max-width: 540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}


.main__right-item {
    max-width: 255px;
    width: 100%;
    border-radius: 6px;
    background: #FFF;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


.main__right-title {
    color: #2C2A2A;
    font-family: 'RB';
    font-size: 22px;
    line-height: 16px;
    /* 72.727% */
    margin: 12px 0;
}

.main__right-text {
    color: #9B9B9B;
    font-family: 'RR';
    font-size: 16px;
    line-height: 16px;
    /* 100% */
}

/* **** Media start **** */

@media (max-width: 1140px) {
    .main__box {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

@media (max-width: 1250px) {}

@media (max-width: 860px) {}

@media (max-width: 576px) {
    .main__box-right {
        flex-direction: column;
        align-items: center;
    }

    .main__left-title {
        text-align: center;
    }

    .main__left-text {
        text-align: center;
    }

}

@media (max-width: 350px) {}


/* **** Media end **** */